:host {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: #d2d2d2;
    color: #000;
    overflow: auto;
    .view {
        flex: 1;
    }
}

ul.content {
    list-style: none;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #ccc;
    color: #333;
    li {
        min-height: 30px;
        line-height: 30px;
        flex: 1;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        color: #000;
        &:after {
            display: block;
            content: " ";
        }
        input,
        textarea {
            width: 100%;
        }
    }
}
