:host {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #d2d2d2;
    color: #000;
    .view {
        flex: 1;
    }
}

ul.content {
    list-style: none;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #ccc;
    color: #333;
    li {
        min-height: 30px;
        line-height: 30px;
        flex: 1;
        padding: 0 10px;
        cursor: pointer;
        user-select: none;
        color: #000;
        &:hover {
            color: #fff;
            background: #333;
        }
        &:after{
          display: block;
          content: " ";
        }
    }
}

ul.contents {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    li {
        line-height: 30px;
    }
}

h2.title {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    background: #333;
    color: #ccc;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: #222;
    }
}
