:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #efefef;
    color: #000;
    overflow: auto;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            min-height: 30px;
            cursor: pointer;
            text-align: center;
            line-height: 30px;
            user-select: none;
            button {
                padding: 5px 10px;
                margin: 5px;
                border-radius: 3px;
                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
}
