:host {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #333;
    color: #ccc;
    ul {
        list-style: none;
        li {
            height: 30px;
            cursor: pointer;
            text-align: center;
            line-height: 30px;
            user-select: none;
            &:hover {
                opacity: .8;
                background: #000;
                color: #fff;
            }
        }
    }
}
